.page-wrapper, .landing-page, .projects-page{
    // height: 100vh;
    // width: 100%;
}

.landing-page{
    background: #370D32;
    // height: 100vh;
    // width: 100vw;
    display: flex;
    justify-content: center;
    .center-content{
        align-items: center;
        perspective: 10em;
        display: flex;
    }
    h1{
        margin: 0;
        color: white;
        // line-height: 10em;
    }
}
// h1{
//     animation: z-axis-animation 1s ease-in-out 0s infinite alternate;
// }

// @keyframes z-axis-animation {
//     from {transform: translateZ(2em)}
//     to {transform: translateZ(-2em)}
//   }

